In [1]:
# imports
import pandas as pd
from Simulation_Class import simulation

In [2]:
# initialize simulation 
sim = simulation()

In [3]:
# import dataset of real real interventions 
# contains patient location, time for vector to get there 
df_interventions = pd.read_csv('Data/interventions.csv')

In [4]:
# display df 
df_interventions

,T1,T3,Latitude intervention,Longitude intervention,Response Time
0,2022-06-07 07:02:17,2022-06-07 07:11:24,50.861866,4.708210,547.0
1,2022-06-07 07:02:29,2022-06-07 07:11:24,50.861866,4.708210,535.0
2,2022-06-08 13:26:34,2022-06-08 13:35:03,50.873174,4.716699,509.0
3,2022-06-08 13:26:36,2022-06-08 13:35:03,50.873174,4.716699,507.0
4,2022-06-08 14:35:19,2022-06-08 14:47:58,50.928140,4.703247,759.0
...,...,...,...,...,...
141,2023-05-03 17:38:46,2023-05-03 17:46:05,50.861650,4.681370,439.0
142,2023-05-03 17:40:41,2023-05-03 17:46:05,50.861650,4.681370,324.0
143,2023-05-13 11:26:53,2023-05-13 11:50:12,50.885531,4.684591,1399.0
144,2023-05-13 11:26:54,2023-05-13 11:50:12,50.885531,4.684591,1398.0
145,2023-05-13 23:28:43,2023-05-13 23:37:00,50.856026,4.695739,497.0

In [5]:
# save the patient locations in a dataframe 
# save longitude and latitude of patient to tuple 
patient_longitudes = df_interventions['Longitude intervention'].values
patient_latitudes = df_interventions['Latitude intervention'].values

# zip to one tuple 
patient = list(zip(patient_longitudes, patient_latitudes))

In [6]:
# display pateint
print(patient)

[(4.70821, 50.861866), (4.70821, 50.861866), (4.716699, 50.873174), (4.716699, 50.873174), (4.703247, 50.92814), (4.703247, 50.92814), (4.730246, 50.87455), (4.730246, 50.87455), (4.696672, 50.879098), (4.705947, 50.886687), (4.705947, 50.886687), (4.690584, 50.89003), (4.690584, 50.89003), (4.692755, 50.865466), (4.700683, 50.87929), (4.700683, 50.87929), (4.681497, 50.854151), (4.698357, 50.880213), (4.698357, 50.880213), (4.684785, 50.879319), (4.700753, 50.887833), (4.700753, 50.887833), (4.699796, 50.87634), (4.699796, 50.87634), (4.700977, 50.883089), (4.695717, 50.855068), (4.695717, 50.855068), (4.67431, 50.877462), (4.698691, 50.865606), (4.698691, 50.865606), (4.688853, 50.879023), (4.694036, 50.8606), (4.694036, 50.8606), (4.736733, 50.862799), (4.733566, 50.898585), (4.738449, 50.901604), (4.738449, 50.901604), (4.698003, 50.868334), (4.698003, 50.868334), (4.712916, 50.869559), (4.712916, 50.869559), (4.693243, 50.885472), (4.693243, 50.885472), (4.734176, 50.878237), (4.734176, 50.878237), (4.715765, 50.877798), (4.715765, 50.877798), (4.700611, 50.877705), (4.700611, 50.877705), (4.712741, 50.876974), (4.712741, 50.876974), (4.700399, 50.923948), (4.700399, 50.923948), (4.71539, 50.88122), (4.71539, 50.88122), (4.71745, 50.874271), (4.71745, 50.874271), (4.69952, 50.866911), (4.69952, 50.866911), (4.711828, 50.871651), (4.711828, 50.871651), (4.730961, 50.850728), (4.663558, 50.876016), (4.663558, 50.876016), (4.735979, 50.888449), (4.735979, 50.888449), (4.728948, 50.868191), (4.728948, 50.868191), (4.698691, 50.865606), (4.698691, 50.865606), (4.674596, 50.871597), (4.674596, 50.871597), (4.674596, 50.871597), (4.735139, 50.879159), (4.735139, 50.879159), (4.70586, 50.881605), (4.70586, 50.881605), (4.702134, 50.897263), (4.702134, 50.897263), (4.657334, 50.861426), (4.657334, 50.861426), (4.712731, 50.879035), (4.712731, 50.879035), (4.711828, 50.871651), (4.711828, 50.871651), (4.711256, 50.871245), (4.728813, 50.898917), (4.728813, 50.898917), (4.729334, 50.886379), (4.729334, 50.886379), (4.706287, 50.868107), (4.706287, 50.868107), (4.724486, 50.875134), (4.724486, 50.875134), (4.663458, 50.872624), (4.663458, 50.872624), (4.724385, 50.888254), (4.724385, 50.888254), (4.710888, 50.862229), (4.710888, 50.862229), (4.741317, 50.886149), (4.741317, 50.886149), (4.723903, 50.92664), (4.723903, 50.92664), (4.7093, 50.870361), (4.7093, 50.870361), (4.715466, 50.881037), (4.715466, 50.881037), (4.693275, 50.875681), (4.695989, 50.865144), (4.695989, 50.865144), (4.726644, 50.873674), (4.726644, 50.873674), (4.72935, 50.900387), (4.690636, 50.876538), (4.690636, 50.876538), (4.704618, 50.887542), (4.704618, 50.887542), (4.722256, 50.880999), (4.73756, 50.862344), (4.73756, 50.862344), (4.698691, 50.865606), (4.698691, 50.865606), (4.722139, 50.86866), (4.736791, 50.863533), (4.736791, 50.863533), (4.736791, 50.863533), (4.714931, 50.880851), (4.714931, 50.880851), (4.696876, 50.893705), (4.726534, 50.887677), (4.726534, 50.887677), (4.717382, 50.882139), (4.717382, 50.882139), (4.735101, 50.876686), (4.699619, 50.879152), (4.699619, 50.879152), (4.653801, 50.856571), (4.653801, 50.856571), (4.69352, 50.85851), (4.69352, 50.85851), (4.68137, 50.86165), (4.68137, 50.86165), (4.684591, 50.885531), (4.684591, 50.885531), (4.695739, 50.856026)]

In [7]:
# import dataset with the locations of the AEDs 
df_aed = pd.read_csv('filtered_AED_loc.csv')

In [8]:
# save longitude and latitude of AED to tuple 
AED_longitudes = df_aed['longitude'].values
AED_latitudes = df_aed['latitude'].values

# zip to one tuple 
AED = list(zip(AED_longitudes, AED_latitudes))

In [9]:
# transform aed to dataframe with headings
AED = pd.DataFrame(AED, columns=['longitude', 'latitude'])

In [10]:
# display aed
AED

     longitude   latitude
0     4.737563  50.847642
1     4.696771  50.882662
2     4.705893  50.891915
3     4.718684  50.893646
4     4.693191  50.869499
..         ...        ...
134   4.676583  50.865563
135   4.676583  50.865563
136   4.711970  50.868075
137   4.748855  50.870141
138   4.730367  50.850719

[139 rows x 2 columns]

In [11]:
# import data for first responder locations 
# Load the CSV file into a DataFrame
FR_05 = pd.read_csv('0.5%_FRs.csv')
FR_1 = pd.read_csv('1%_FRs.csv')

In [12]:
FR_05

            x          y
0    4.700665  50.878356
1    4.700855  50.878922
2    4.700938  50.878428
3    4.702417  50.878322
4    4.698315  50.881002
..        ...        ...
511  4.690463  50.933269
512  4.692093  50.931006
513  4.677287  50.932955
514  4.694451  50.935168
515  4.711421  50.930805

[516 rows x 2 columns]

In [13]:
Patient = {
    'longitude': 4.690620,
    'latitude': 50.862980
}

Patient = pd.DataFrame([Patient])
Patient = Patient.transpose()

In [18]:
responders = {
    'coordinates': [(4.736563, 50.877642), (4.736763, 50.878742)]
}

In [17]:
# Combine 'longitude' and 'latitude' into a list of tuples
coordinates = list(zip(AED['longitude'], AED['latitude']))
# Create the dictionary
AED = {'coordinates': coordinates}

print("Transformed dictionary:")
print(AED)

Transformed dictionary:
{'coordinates': [(4.737563, 50.8476423), (4.6967705, 50.8826624), (4.7058934, 50.89191539999999), (4.7186837, 50.8936461), (4.6931907, 50.869499), (4.7017286, 50.8743307), (4.7127525, 50.8670637), (4.682384799999999, 50.8778935), (4.6964705, 50.8713027), (4.7127446, 50.867102), (4.7168358, 50.8769717), (4.701441099999999, 50.88228909999999), (4.7062523, 50.8958652), (4.7156895, 50.8813682), (4.7330828, 50.85112360000001), (4.734445700000001, 50.8823756), (4.724020299999999, 50.9281215), (4.6916883, 50.8705595), (4.7458358, 50.8644573), (4.6958563, 50.8470644), (4.7116128, 50.867677), (4.7515505, 50.8883109), (4.680962699999999, 50.8839064), (4.7106457, 50.8858827), (4.7146301, 50.8841416), (4.712077799999999, 50.8786396), (4.7152536, 50.874393), (4.7075612, 50.8933532), (4.7031832, 50.8816687), (4.7130637, 50.9108976), (4.7022043, 50.90354660000001), (4.7313633, 50.8845695), (4.743396499999999, 50.8674498), (4.704471000000001, 50.8560364), (4.7063333, 50.92585949999999), (4.720390099999999, 50.8988012), (4.676585999999999, 50.8718562), (4.7160817, 50.8797741), (4.6939597, 50.868071), (4.720390099999999, 50.8988012), (4.714348600000001, 50.8744331), (4.711944799999999, 50.8813563), (4.7300619, 50.8524681), (4.718262999999999, 50.8834141), (4.7069755, 50.8782258), (4.6753669, 50.8627473), (4.668996, 50.8782805), (4.703816, 50.874094), (4.7041349, 50.8776436), (4.7082684, 50.8740913), (4.7031955, 50.8763292), (4.732186599999999, 50.8478666), (4.7005637, 50.8778857), (4.7275933, 50.8764651), (4.7047368, 50.8803956), (4.7057077, 50.8555502), (4.7343369, 50.8528664), (4.6723105, 50.8628119), (4.6723105, 50.8628119), (4.6723105, 50.8628119), (4.7370091, 50.8444703), (4.7232384, 50.84761169999999), (4.7054199, 50.8830582), (4.7019874, 50.8804127), (4.7311424, 50.8450309), (4.7058934, 50.89191539999999), (4.728376, 50.8553066), (4.728376, 50.8553066), (4.7056545, 50.8795773), (4.7086963, 50.8809818), (4.6775291, 50.885645), (4.716279, 50.8791637), (4.6738647, 50.9050354), (4.7137954, 50.8774564), (4.7303674, 50.8507187), (4.7381287, 50.84546049999999), (4.726769399999999, 50.831734), (4.7253871, 50.8468318), (4.7081308, 50.8747859), (4.6861822, 50.8624668), (4.6753669, 50.8627473), (4.6723105, 50.8628119), (4.7153244, 50.8508645), (4.729934, 50.850768), (4.7045671, 50.8789497), (4.734019, 50.8503127), (4.7203215, 50.854781), (4.704496199999999, 50.8859605), (4.700369999999999, 50.8793), (4.704839, 50.8811427), (4.712977, 50.8784211), (4.712295, 50.8617055), (4.7255083, 50.8528969), (4.7096178, 50.88150109999999), (4.7248107, 50.9283047), (4.7132325, 50.88081529999999), (4.6939597, 50.868071), (4.6939597, 50.868071), (4.714049, 50.8827386), (4.7061156, 50.8741756), (4.729686399999999, 50.8869565), (4.734271199999999, 50.8919487), (4.737563, 50.8476423), (4.6967705, 50.8826624), (4.7311424, 50.8450309), (4.667943000000001, 50.8648678), (4.7515505, 50.8883109), (4.7062523, 50.8958652), (4.6710378, 50.8654367), (4.725385, 50.829584), (4.7365227, 50.8455664), (4.70195, 50.92624), (4.7220448, 50.8457862), (4.716440299999999, 50.8465918), (4.728626999999999, 50.845606), (4.728626999999999, 50.845606), (4.7020005, 50.8808505), (4.7182558, 50.848691), (4.7007067, 50.8851678), (4.7283621, 50.8514371), (4.7063333, 50.92585949999999), (4.6939597, 50.868071), (4.6939597, 50.868071), (4.6939597, 50.868071), (4.724752100000001, 50.8495093), (4.7080615, 50.8758104), (4.727723999999999, 50.8502816), (4.725275, 50.8742581), (4.709544699999999, 50.877337), (4.6611883, 50.8758335), (4.731698199999999, 50.8557424), (4.7019874, 50.8804127), (4.7183111, 50.8510697), (4.7303674, 50.8507187), (4.6765833, 50.8655626), (4.6765833, 50.8655626), (4.7119704, 50.8680749), (4.7488553, 50.8701412), (4.7303674, 50.8507187)]}

In [19]:
# simulate the repsonse time 
df_resp_time = sim.fastest_comparisson(Patient, AED, responders, AED)

Duration for responders found
You did a lot take a 30 second break.
Duration for AEDs found
Fastest Direct and Indirect are the same
Duration for Vectors found
Time to sleep even longer otherwise the API gets tired.

In [20]:
df_resp_time

,Patient_loc,Responder_lon,Responder_lat,duration_Responder,AED_lon,AED_lat,duration_AED,Vector_lon,Vector_lat,duration_Vector
0,"(4.69062, 50.86298)",4.736763,50.878742,3106.9,4.734446,50.882376,3681.7,4.686182,50.862467,126.0